.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    column-gap: 16px;
    row-gap: 40px;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    padding: 20px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 8px 16px;
    border: 1px solid #49BBBD;
    color: #49BBBD;
    cursor: pointer;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #49BBBD;
    color: #FFF;
    border: 1px solid #49BBBD;
}

.page-item.disabled .page-link {
    color: #ddd;
    pointer-events: none;
}

.page-item:hover .page-link {
    background-color: #49BBBD;
    color: #FFF;
}
